@charset "UTF-8";

/* NB full information and explanantion at http://disqus.com/docs/css/ */
/* Added by ack! from http://wiki.disqus.net/CustomCSS */

/* Everything Disqus on your page is contained within this. */
#disqus_thread {
    background-color: #ffffff;
    color: #000000; 
    border-style: solid;
    border-color: #D3D3D3;
    padding: 5px;
    font-family: Arial;
    border-width: 1px;
}

/*The header at the top of posts.*/
.dsq-comment-header {
    background-color: #ffffff;
    font-family: "verdana",sans-serif;
    font-size: 12px;
    height: 50px;
}

/*The box where a post is typed into.*/
textarea {
    background-image: none;
    background-repeat: repeat;
    border: #00A8D6 2px solid; /* light blue border */
}

texarea:after {
}

/*"Add New Comment" and "# Comments" are enclosed in h3 tags.*/
h3 {
}

/*The entire comment thread list.*/
#dsq-comments {
}

/*A single comment in the thread.*/
.xdsq-comment {
    border: #00A8D6 2px solid; /* light blue border */
    margin-botom: 15px;
}

/*The avatar image for the registered.*/
.dsq-header-avatar img {
}

/*The message body of a single comment post.*/
#dsq-content #dsq-comments .dsq-comment-body {
} 

/*The footer contains the link to "reply."*/
.dsq-comment-footer {
}

/* The form elements (Name, Email, Website). */
input.form-text {
    font-size: 100%; 
}

/* The submit button "Post". */
input.submit {
    background-color: #ffffff;
}

/* The main wrapper for the comment system. */
#dsq-content {
}

/* The toggle button for the thread options. */
#dsq-options-toggle {
    /* display: none; */
}

/* The links within the thread Options */
#dsq-extra-links {
    /* display: none; */
}

/* The comment rating arrows for posts. */
.dsq-comment-rate {
}

/* This is the meta information about the post (time stamp and points). */
.dsq-header-meta {
}

/* The message body of a single comment post. */
.dsq-comment-body {
}

/* This contains and determines the style for the pagination links. */
#dsq-pagination {
}

.dsq-brlink {
    font-family: Arial;
}
